:root{
  --fs:0.8rem;
  --fm: 1.2rem;
  --fl:1.4rem;
  --fxl:1.6rem;
  --pcolor: #303030;
  --scolor: #505050;
  --hcolor: #279C9C;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* color: var(--pcolor); */
}
